.popup {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 111;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    &__form {
        &-close {
            position: absolute;
            z-index: 5;
            right: 25px;
            top: 25px;
        }
    }
    &.active {
        display: flex;
    }
}